@model IEnumerable<Tessera.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("New User", "New", "Users", null, new { @class = "btn btn-primary" })
</p>

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>E-mail</th>
            <th>Group</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>





